<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tic Tack Toe</title>
    <link rel="stylesheet" href="assets/stylesheets/css.css">
  </head>
  <body>
  .frame
    .box.box_1
    .box.box_2
    .box.box_3
    .box.box_4
    .box.box_5
    .box.box_6
    .box.box_7
    .box.box_8
    .box.box_9

  </body>
</html>
